/*****universal styles******/
* {
  margin: 0px;
  padding: 0px;
}

html body {
  font-size: 16px;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0px;
}

/******Navigation Bar*****/

#navbar {
  display: grid;
  grid-template-columns: 2% 15% 60% 20%;
  padding-top: 15px;
  padding-left: 30px;
  background-color: #fff;
  padding-bottom: -3px;
  width: 100%;
}

#navbar .navbar-icon ul li {
  display: inline-block;
  margin-left: 20px;
}

#navbar .search-input input {
  width: 550px;
  height: 35px;
  padding: 10px;
  border-radius: 2px;
}

#navbar .search-input button {
  width: 60px;
  height: 35px;
  background-color: #f9f9f9;
  padding-left: 0px;
}

#navbar .navbar-icon ul {
  margin-left: 70px;
}

#navbar .search-input {
  margin-left: 80px;
  padding-bottom: 15px;
}

#navbar .nav-img {
  margin-top: -10px;
}

#navbar .nav-img img {
  margin-left: -5px;
  margin-top: 2px;
  width: 120px;
}

#navbar .nav-icon {
  padding-top: 7px;
}

/* Video Section */

#video-section {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1000px;
}

#video {
  margin-left: -80px;
}

aside {
  margin-right: 130px; 
}
